@media (max-width: 730px) {
  .phoneBlockNew {
    display: flex !important;

    & .iconNew {
      display: none;
    }

    & .buttonNew {
      display: none;
    }

    & a {
      color: hsl(var(--brand-orange-dark));
      line-height: 1em;
    }
  }
}
