.textBottom {
  display: none;
}

.listNew {
  display: none;
}

@media (max-width: 1024px) {
  .displayNone {
    display: none;
  }

  .textBottom {
    display: flex;
    justify-content: center;
    color: hsl(var(--text-dark)) !important;
    font-weight: 700;
    margin-top: 5vw;
    text-align: center;
  }
}

.textBlockBottom {
  display: none;
}

@media (max-width: 1024px) {
  .listNew {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    margin-top: 6vw;

    & li {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: hsl(var(--text-dark));
      line-height: 1em;
      font-size: 2.5vw;
      gap: 1.5vw;

      & .iconlist {
        display: flex;
        height: 3vw;
        width: 3vw;
        color: hsl(var(--brand-orange));
      }
    }
  }

  .margTopText {
    margin-top: 5vw;

    &.smallText {
      font-size: 2.8vw;
      margin-bottom: 2vw;
      font-weight: 600;
      color: hsl(var(--brand-orange));
    }
  }

  .buttonHeroWidth {
    width: 100%;
    padding: 5vw 0;

    & .newIconCall {
      width: 2.8vw;
      height: 2.8vw;
    }
  }

  .textBlockBottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: rgb(235, 235, 235) !important;
    border-radius: 2vw;
    margin-top: 4vw;
    padding: 3vw 3vw;
    gap: 2vw;

    & .textBottom {
      margin: 0;
      font-size: 3vw;
    }

    & .margTopTextBottom {
      margin-top: 3vw;
      margin-bottom: 0;
    }

    & .iconChange {
      width: 3vw;
      height: 4vw;
      color: hsl(var(--brand-orange));
    }

    & .textChange {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      font-size: 2.4vw;
    }
  }
}

@media (max-width: 576px) {
  .listNew {
    gap: 4vw;
    margin-top: 8vw;

    & li {
      font-size: 4vw;
      gap: 3vw;

      & .iconlist {
        height: 5vw;
        width: 5vw;
      }
    }
  }

  .buttonHeroWidth {
    & .newIconCall {
      width: 5.5vw;
      height: 5.5vw;
    }
  }

  .margTopText {
    margin-top: 8vw;
    margin-bottom: 0;

    &.margTopBottomNone {
      margin: 0;
    }

    &.smallText {
      font-size: 4vw;
      margin-bottom: 1.5vw;
      margin-top: 3vw;
    }
  }

  .textBlockBottom {
    border: 0.1vw solid hsl(var(--brand-orange));
    border-radius: 3vw;
    margin-top: 7vw;
    padding: 4vw 3.5vw;
    gap: 2.5vw;
    box-shadow: 0px 0px 5vw -1vw rgba(0, 0, 0, 0.51);

    & .textBottom {
      font-size: 4.5vw;
    }

    & .margTopTextBottom {
      margin-top: 5vw;
    }

    & .iconChange {
      width: 10vw;
      height: 8vw;
      color: hsl(var(--brand-orange));
    }

    & .textChange {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      font-size: 4.2vw;
    }
  }
}

@media (max-width: 1024px) {
  .min-h-screen {
    min-height: 100% !important;
    padding: 10vw 0;
  }
}

@media (max-width: 576px) {
  .min-h-screen {
    min-height: 100% !important;
    padding: 20vw 0;
    padding-bottom: 10vw;
  }
}

.buttonDownSprint {
  display: none;
  font-size: 0.85vw;
}

@media (max-width: 1024px) {
  .flexWrap {
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
  }

  .buttonDownSprint {
    margin-top: 1.5vw;
    display: flex;
    font-size: 2.8vw;
    font-weight: 600;
    padding: 1vw 15vw !important;
    border-radius: 1vw;
    color: hsl(var(--brand-orange)) !important;

    &.border-brand-blue {
      border-color: hsl(var(--brand-orange));
    }
  }
}

@media (max-width: 576px) {
  .buttonDownSprint {
    display: flex;
    font-size: 4vw;
    margin-top: 0vw;
    font-weight: 600;
    padding: 2vw 7vw !important;
    border-radius: 1.75vw;
  }
}

.buttonMoveUpBlock {
  display: none;
}

@media (max-width: 576px) {
  .buttonMoveUpBlock {
    display: flex;
    position: fixed;
    bottom: 8.5%;
    right: 2%;
    z-index: 9999;

    & .buttonMoveUp {
      display: flex;
      background-color: #053fb5;
      border-radius: 50%;
      padding: 3.5vw;
      & .buttonMoveUpIcon {
        width: 6vw;
        height: 6vw;
        color: white;
      }
    }
  }
}
